
#navbar-ipn-logo
{
	width: 55px;		
}
#navbar-cgfie-logo
{
	width: 80px;
}
.content
{
	min-height: 66%;
}
footer
{
	background-color: $blue-base;
	height: 20%;
	padding: 2em;
	border-top: 4px solid $green-lite;
	position: relative;
	left: -1;
	bottom: -1px;
}
